Repository opensearch-project/index-management-dashboards-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "npx eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx,json,css,md}": [
    "prettier --write"
  ]
}

Increment version to 2.19.6.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Update GitHub actions to use official opensearch-project actions
  .github/workflows/verify-binary-installation.yml
Due: none

Increment version to 2.19.6.0 (#1440)
  opensearch_dashboards.json
  package.json
Due: prettier --write

fix: Handle deletion-only SM policies in the UI
  models/interfaces.ts
  public/pages/CreateSnapshotPolicy/components/CronSchedule/CronSchedule.tsx
  public/pages/CreateSnapshotPolicy/containers/CreateSnapshotPolicy/CreateSnapshotPolicy.tsx
  public/pages/SnapshotPolicies/containers/SnapshotPolicies/SnapshotPolicies.tsx
  public/pages/SnapshotPolicyDetails/containers/SnapshotPolicyDetails/SnapshotPolicyDetails.tsx
Due: npx eslint --fix, prettier --write

ci: Pin GitHub Actions to full-length commit SHAs
  .github/workflows/backport.yml
  .github/workflows/create-documentation-issue.yml
  .github/workflows/cypress-with-security-workflow.yml
  .github/workflows/cypress-workflow.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/links.yml
  .github/workflows/unit-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
Due: none

ci: Pin actions in run-cypress-tests composite action to SHAs
  .github/actions/run-cypress-tests/action.yaml
Due: none

fix: Align @babel/runtime with OpenSearch Dashboards core
  package.json
Due: prettier --write

Update GitHub actions to use official opensearch-project actions (#1442)
  .github/workflows/verify-binary-installation.yml
Due: none

ci: Pin GitHub Actions to full-length commit SHAs (#1445)
  .github/actions/run-cypress-tests/action.yaml
  .github/workflows/backport.yml
  .github/workflows/create-documentation-issue.yml
  .github/workflows/cypress-with-security-workflow.yml
  .github/workflows/cypress-workflow.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/links.yml
  .github/workflows/unit-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
  package.json
Due: prettier --write

fix: Handle deletion-only SM policies in the UI (#1444)
  models/interfaces.ts
  public/pages/CreateSnapshotPolicy/components/CronSchedule/CronSchedule.tsx
  public/pages/CreateSnapshotPolicy/containers/CreateSnapshotPolicy/CreateSnapshotPolicy.tsx
  public/pages/SnapshotPolicies/containers/SnapshotPolicies/SnapshotPolicies.tsx
  public/pages/SnapshotPolicyDetails/containers/SnapshotPolicyDetails/SnapshotPolicyDetails.tsx
Due: npx eslint --fix, prettier --write

Onboard new backport-pr re-usable github workflow (index-management-dashboards-plugin)
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
Due: none

Onboard new backport-pr re-usable github workflow (index-management-dashboards-plugin) (#1447)
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
Due: none

check back to main
  .github/workflows/unit-tests-workflow.yml
Due: none

check back to main (#1434)
  .github/workflows/unit-tests-workflow.yml
Due: none

Bump picomatch to 2.3.2 to fix CVE-2026-33671
  package.json
Due: prettier --write

Bump lodash from 4.17.21 to 4.18.0 to fix CVE-2026-4800
  package.json
Due: prettier --write

Bump serialize-javascript to 7.0.3 to fix GHSA-5c6j-r48x-rmvq
  package.json
Due: prettier --write

add yarn.lock
  yarn.lock
Due: none

yarn.lock
  yarn.lock
Due: none

add missing distribution
  .github/actions/run-cypress-tests/action.yaml
Due: none

Revert serialize-javascript 7.0.3 bump (incompatible with Node 18)
  package.json
  yarn.lock
Due: prettier --write

Remove verify-binary-installation workflow
  .github/workflows/verify-binary-installation.yml
Due: none

Bump lodash and picomatch to fix CVEs (#1446)
  .github/actions/run-cypress-tests/action.yaml
  .github/workflows/backport.yml
  .github/workflows/create-documentation-issue.yml
  .github/workflows/cypress-with-security-workflow.yml
  .github/workflows/cypress-workflow.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/links.yml
  .github/workflows/unit-tests-workflow.yml
  package.json
  yarn.lock
Due: prettier --write

Onboard code diff analyzer/reviewer and issue dedupe workflows (index-management-dashboards-plugin)
  .github/workflows/issue-dedupe.yml
  .github/workflows/pr_review.yml
Due: none

Add release notes for 2.19.6
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-2.19.6.0.md
Due: prettier --write

Add release notes for 2.19.6 (#1448)
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-2.19.6.0.md
Due: prettier --write

Onboard code diff analyzer/reviewer and issue dedupe workflows (index-management-dashboards-plugin) (#1450)
  .github/workflows/issue-dedupe.yml
  .github/workflows/pr_review.yml
Due: none

Bump yaml and brace-expansion to fix transitive dependency vulnerabilities
  yarn.lock
Due: none

Bump yaml and brace-expansion to fix transitive dependency vulnerabilities (#1453)
  yarn.lock
Due: none

Increment version to 3.8.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Increment version to 2.19.6.0
  package.json
Due: prettier --write

Adopt ESLint 10 / flat config
  .eslintrc
  .eslintrc.js
  eslint.config.js
  package.json
  yarn.lock
Due: prettier --write

Remove eslint-plugin-no-unsanitized pin (inherited from OSD)
  package.json
Due: prettier --write

Update yarn.lock after removing no-unsanitized pin
  yarn.lock
Due: none

Adopt ESLint 10 / flat config (#1455)
  .eslintrc
  .eslintrc.js
  eslint.config.js
  package.json
  yarn.lock
Due: prettier --write

Increment version to 3.8.0.0 (#1439)
  opensearch_dashboards.json
  package.json
Due: prettier --write
