Repository opensearch-project/index-management-dashboards-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write

Update delete_backport_branch workflow to use github-script with proper permissions
  .github/workflows/delete_backport_branch.yml
Due: none

Add missing supported field types for mappings
  public/components/IndexMapping/__snapshots__/IndexMapping.test.tsx.snap
  public/components/MappingLabel/__snapshots__/MappingLabel.test.tsx.snap
  public/utils/constants.ts
Due: npx eslint --fix, prettier --write

Increment version to 3.3.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Fix snapshot restore: do not rename option should not add prefix
  public/pages/Snapshots/components/RestoreSnapshotFlyout/RestoreSnapshotFlyout.tsx
Due: npx eslint --fix, prettier --write

Fix CreateSnapshotPolicy handling of indices array format
  public/pages/CreateSnapshotPolicy/containers/CreateSnapshotPolicy/CreateSnapshotPolicy.test.tsx
  public/pages/CreateSnapshotPolicy/containers/CreateSnapshotPolicy/CreateSnapshotPolicy.tsx
Due: npx eslint --fix, prettier --write

Increment version to 2.19.4.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Add release notes for 3.3.0
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.3.0.0.md
Due: prettier --write

Fixing #CVE-2025-7783
  package.json
  yarn.lock
Due: prettier --write

Fixing #CVE-2025-7783 (#1358)
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2025-9287 CVE-2025-9288
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2025-9287 CVE-2025-9288 (#1362)
  package.json
  yarn.lock
Due: prettier --write

Add release notes for 3.3.0 (#1357)
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.3.0.0.md
Due: prettier --write

Increment version to 3.3.0.0
  package.json
Due: prettier --write

Increment version to 3.4.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Fixing CVE-2025-9287 CVE-2025-9288 (#1362)
  package.json
Due: prettier --write

Fixing #CVE-2025-7783 (#1358)
  package.json
Due: prettier --write

Resolve pbkdf2 to resolve CVE-2025-6545 CVE-2025-6547 (#1340)
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2025-7783 CVE-2025-9287 CVE-2025-9288 CVE-2025-6547 CVE-2025-6545 (#1358 #1362 #1340) (#1370)
  package.json
  yarn.lock
Due: prettier --write

Add release notes for 2.19.4
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-2.19.4.0.md
Due: prettier --write

Update release notes for version 2.19.4
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-2.19.4.0.md
Due: prettier --write

[AUTO] Add release notes for 2.19.4 (#1371)
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-2.19.4.0.md
Due: prettier --write

Add Convert index to remote support for dashboard ism plugin
  cypress/fixtures/plugins/index-management-dashboards-plugin/sample_convert_index_to_remote_policy.json
  models/interfaces.ts
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction.test.tsx
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction.tsx
  public/pages/VisualCreatePolicy/components/UIActions/__snapshots__/ConvertIndexToRemoteUIAction.test.tsx.snap
  public/pages/VisualCreatePolicy/components/UIActions/index.ts
  public/pages/VisualCreatePolicy/utils/constants.ts
  public/pages/VisualCreatePolicy/utils/helpers.test.ts
  public/pages/VisualCreatePolicy/utils/helpers.ts
Due: npx eslint --fix, prettier --write

Add release notes for 3.4.0
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.4.0.0.md
Due: prettier --write

Fixing bug in Tranform / Rollup Jobs UI
  server/services/RollupService.test.ts
  server/services/RollupService.ts
  server/services/TransformService.test.ts
  server/services/TransformService.ts
Due: npx eslint --fix, prettier --write

Increment version to 3.5.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Fixing CVE-2025-64718
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2025-64718 (#1383)
  package.json
  yarn.lock
Due: prettier --write

Increment version to 3.5.0.0
  package.json
Due: prettier --write

Add release notes for 3.5.0
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.5.0.0.md
Due: prettier --write

Fix failing cypress tests
  .github/workflows/cypress-with-security-workflow.yml
  .github/workflows/cypress-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  cypress/e2e/plugins/index-management-dashboards-plugin/managed_indices_spec.js
  cypress/e2e/plugins/index-management-dashboards-plugin/policies_spec.js
Due: prettier --write

Fix failing cypress tests (#1388)
  .github/workflows/cypress-with-security-workflow.yml
  .github/workflows/cypress-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  cypress/e2e/plugins/index-management-dashboards-plugin/managed_indices_spec.js
  cypress/e2e/plugins/index-management-dashboards-plugin/policies_spec.js
Due: prettier --write

Upgrade React from 16 to 18
  cypress/e2e/plugins/index-management-dashboards-plugin/managed_indices_spec.js
  cypress/e2e/plugins/index-management-dashboards-plugin/policies_spec.js
  package.json
  public/components/FormGenerator/FormGenerator.test.tsx
  public/components/IndexDetail/IndexDetail.test.tsx
  public/components/IndexMapping/IndexMapping.test.tsx
  public/components/JSONEditor/JSONEditor.test.tsx
  public/components/JSONModal/__snapshots__/JSONModal.test.tsx.snap
  public/components/PolicyModal/__snapshots__/PolicyModal.test.tsx.snap
  public/containers/NotificationConfig/__snapshots__/NotificationConfig.test.tsx.snap
  public/index_management_app.tsx
  public/pages/CreateIndexTemplate/containers/TemplateDetail/TemplateDetail.test.tsx
  public/pages/CreatePolicy/containers/CreatePolicy/__snapshots__/CreatePolicy.test.tsx.snap
  public/pages/ManagedIndices/components/InfoModal/__snapshots__/InfoModal.test.tsx.snap
  public/pages/ShrinkIndex/container/ShrinkIndex/ShrinkIndex.tsx
  public/pages/SplitIndex/container/SplitIndex/SplitIndex.tsx
  public/utils/JSON_schemas/index_mappings/index.ts
  yarn.lock
Due: npx eslint --fix, prettier --write

Add release notes for 3.5.0 (#1386)
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.5.0.0.md
Due: prettier --write

Increment version to 3.6.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Increment version to 2.19.5.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Fixing CVE-2025-15284 and CVE-2025-64718
  yarn.lock
Due: none

Path conditions:
  npx eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
