Repository opensearch-project/index-management-dashboards-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write

Fixing CVE-2025-15284 and CVE-2025-64718 (#1402)
  yarn.lock
Due: none

Add release notes for 2.19.5
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-2.19.5.0.md
Due: prettier --write

Add release notes for 2.19.5 (#1404)
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-2.19.5.0.md
Due: prettier --write

Add support for Convert Index to Remote action
  models/interfaces.ts
  public/pages/Aliases/containers/Aliases/Aliases.test.tsx
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction.tsx
  public/pages/VisualCreatePolicy/components/UIActions/index.ts
  public/pages/VisualCreatePolicy/containers/CreateAction/__snapshots__/CreateAction.test.tsx.snap
  public/pages/VisualCreatePolicy/utils/constants.ts
  public/pages/VisualCreatePolicy/utils/helpers.test.ts
  public/pages/VisualCreatePolicy/utils/helpers.ts
Due: npx eslint --fix, prettier --write

add rename_pattern to convert_index_to_remote action
  models/interfaces.ts
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction.tsx
  public/pages/VisualCreatePolicy/utils/constants.ts
Due: npx eslint --fix, prettier --write

fix sm policy list and details when creation schedule is null
  public/pages/SnapshotPolicies/containers/SnapshotPolicies/SnapshotPolicies.tsx
  public/pages/SnapshotPolicyDetails/containers/SnapshotPolicyDetails/SnapshotPolicyDetails.tsx
Due: npx eslint --fix, prettier --write

frequencyType not parsed properly
  public/pages/SnapshotPolicyDetails/containers/SnapshotPolicyDetails/SnapshotPolicyDetails.tsx
Due: npx eslint --fix, prettier --write

replace AJV usage with vanilla JS counterpart for CSP compliance
  public/components/IndexMapping/helper.test.ts
  public/components/IndexMapping/helper.ts
  public/utils/JSON_schemas/index_mappings/index_mappings.test.ts
  yarn.lock
Due: npx eslint --fix, prettier --write

Fixing CVE-2025-15284
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2025-15284 (#1410)
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2025-13465
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2025-13465 (#1411)
  package.json
  yarn.lock
Due: prettier --write

Fixing CVE-2026-2739
  package.json
Due: prettier --write

Fixing CVE-2026-2739 (#1412)
  package.json
Due: prettier --write

Update lodash 4.18.1
  package.json
  yarn.lock
Due: prettier --write

Update lodash 4.18.1 (#1418)
  package.json
  yarn.lock
Due: prettier --write

Add release notes for 3.6.0
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.6.0.0.md
Due: prettier --write

Add release notes for 3.6.0 (#1420)
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.6.0.0.md
Due: prettier --write

Increment version to 3.6.0.0
  package.json
Due: prettier --write

replace AJV usage with vanilla JS counterpart for CSP compliance (#1409)
  public/components/IndexMapping/helper.test.ts
  public/components/IndexMapping/helper.ts
  public/utils/JSON_schemas/index_mappings/index_mappings.test.ts
Due: npx eslint --fix, prettier --write

Increment version to 3.7.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Add support for Convert Index to Remote action
  public/pages/Aliases/containers/Aliases/Aliases.test.tsx
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction.tsx
Due: npx eslint --fix, prettier --write

Update affiliation to Apple for Shivansh Arora
  MAINTAINERS.md
Due: prettier --write

Update affiliation to Apple for Shivansh Arora (#1428)
  MAINTAINERS.md
Due: prettier --write

adhere to comments
  models/interfaces.ts
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction/ConvertIndexToRemoteUIAction.test.tsx
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction/ConvertIndexToRemoteUIAction.tsx
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction/__snapshots__/ConvertIndexToRemoteUIAction.test.tsx.snap
  public/pages/VisualCreatePolicy/components/UIActions/index.ts
  public/pages/VisualCreatePolicy/utils/constants.ts
Due: npx eslint --fix, prettier --write

Add issues write permission to untriaged label workflow
  .github/workflows/add-untriaged.yml
Due: none

Fix CVE-2026-33671 and CVE-2026-33532
  yarn.lock
Due: none

Fix CVE-2026-33671 and CVE-2026-33532 (#1433)
  yarn.lock
Due: none

Pin actions/github-script to exact commit SHA
  .github/workflows/add-untriaged.yml
Due: none

Add issues write permission to untriaged label workflow (#1432)
  .github/workflows/add-untriaged.yml
Due: none

Add release notes for 3.7.0
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.7.0.0.md
Due: prettier --write

Update release notes for version 3.7.0.0
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.7.0.0.md
Due: prettier --write

[AUTO] Add release notes for 3.7.0 (#1436)
  release-notes/opensearch-index-management-dashboards-plugin.release-notes-3.7.0.0.md
Due: prettier --write

Add stop replication visual policy action
  models/interfaces.ts
  public/pages/VisualCreatePolicy/components/UIActions/StopReplicationUIAction.tsx
  public/pages/VisualCreatePolicy/components/UIActions/index.ts
  public/pages/VisualCreatePolicy/containers/CreateAction/CreateAction.test.tsx
  public/pages/VisualCreatePolicy/containers/CreateAction/__snapshots__/CreateAction.test.tsx.snap
  public/pages/VisualCreatePolicy/containers/CreateState/CreateState.test.tsx
  public/pages/VisualCreatePolicy/utils/constants.ts
  public/pages/VisualCreatePolicy/utils/helpers.test.ts
  public/pages/VisualCreatePolicy/utils/helpers.ts
Due: npx eslint --fix, prettier --write

Remove stop replication specific tests
  public/pages/VisualCreatePolicy/containers/CreateAction/CreateAction.test.tsx
  public/pages/VisualCreatePolicy/containers/CreateState/CreateState.test.tsx
  public/pages/VisualCreatePolicy/utils/helpers.test.ts
Due: npx eslint --fix, prettier --write

Add convert index to remote restore options
  cypress/fixtures/plugins/index-management-dashboards-plugin/sample_convert_index_to_remote_policy.json
  models/interfaces.ts
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction.test.tsx
  public/pages/VisualCreatePolicy/components/UIActions/ConvertIndexToRemoteUIAction.tsx
  public/pages/VisualCreatePolicy/components/UIActions/__snapshots__/ConvertIndexToRemoteUIAction.test.tsx.snap
  public/pages/VisualCreatePolicy/containers/CreateAction/__snapshots__/CreateAction.test.tsx.snap
  public/pages/VisualCreatePolicy/utils/constants.ts
Due: npx eslint --fix, prettier --write

Path conditions:
  npx eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
